header
    title Detail du jeu #{post.title}
    link(rel="stylesheet", href="/stylesheets/styles.css")
    p.cop By TheoCib©
    h1 Detail du jeu #{post.title}
    if user
        p Compte: #{user.firstname}
        a.connect(href="/api/logout") Se deconnecter
        br
        a.connect(href="/login") Profil
    else
        a.connect(href="/signup") S'inscrire
        br
        a.connect(href="/login") Se connecter

body
    div.postdetail
        h1 Titre: #{post.title}
        h1 Score : #{post.score}
        p Review : #{post.content}
        p Note : #{post.grade} /10
    a(href="/") Retour Menu
p Commentaires :
    for comment in post.comments
        article.comment
            p #{comment.comContent}
form(method="POST")
    textarea(name="comment", placeholder="Commentaire", rows=7, cols=50)
    br
    button(type="submit") Commenter
a(href="/") Retour Menu
