header
    title GameReviewProjet
    p.cop By TheoCib©
    h1 Game Reviewer
    link(rel="stylesheet", href="/stylesheets/styles.css")
    if user
        p Compte: #{user.firstname}
        a.connect(href="/api/logout") Se deconnecter
        br
        a.connect(href="/login") Profil
    else
        a.connect(href="/signup") S'inscrire
        br
        a.connect(href="/login") Se connecter

body

    a.addlink(href="/addpost") Créer une review
    for post in posts
        article
            div.post
                h1 Titre : #{post.title}
                h1 Likes : #{post.score}
                p Review : #{post.content}
                p Note : #{post.grade} /10
                div.btn
                    form(method="post", action="/api/post/" + post.id + "/like")
                        button(type="submit") Like
                    form(method="post", action="/api/post/" + post.id + "/dislike")
                        button(type="submit") Dislike
                a(href="/detail/" + post.id) Details
    a.addlink(href="/addpost") Créer une review
